{% extends "base.html" %} {% block title %}Advice{% endblock %} {% block content
    %}
    
        {% block head %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <style>
        
        
    form{
        height: 10150px;
        width: 900px;
        background-color: rgba(255,255,255,0.13);
       
       margin-left: 300px;
       margin-top: 70px;
       margin-bottom: 70px;
        top: 5%;
        left: 2%;
        border-radius: 10px;
        border: 2px solid rgba(255,255,255,0.1);
        box-shadow: 0 0 40px rgba(8,7,16,0.6);
        padding: 50px 35px;
        background-color: #f1e4fd
          }
        
          body{
    background-color: #ab86ce;
  
} 

        
        </style>
        {% endblock %}
    
    <body>
      <div id="form">
     
           <form>
            <h1 style="font-size: 50px;">Advice for your expenditure</h1>
            {% if exceed %}
           <b> <pre style="color: red; font-size: 18px; font-family: Verdana, Geneva, Tahoma, sans-serif;">{{msg}}</pre> </b>
            {% else %}
            <pre style='color: green ; font-size: 18px; font-style: italic;'>{{msg}}</pre>
            {% endif %}
          <br><br>
          <h1 style="font-size: 45px;">Advice for Finance Management</h1>
          <br><br>
    <h2 style="font-style: italic;font-size: 40px;">14 Ways to Manage Expenses</h2>
    <br>
          <h3>1. Make a Budget</h3>
          <p>Develop a realistic budget and stick to it. Review your budget periodically and revise it when necessary. There are many easy ways to develop a budgeting system such as spreadsheets or online software and apps. These programs will help you determine how much you are spending and saving.</p>
          <h3>2. Stop Purchasing Based on Impulse</h3>
        <p>Curb your impulse buying. If you see something that you want to buy, don't buy it right away. Go home and mull it over. If you do this, you probably won't return to the store to make the purchase. Ask yourself if you really need this object and chances are the answer is: you don't.</p>
          <h3>3. Learn How to Manage Debt </h3>
    <p>If you have multiple balances that you need to pay off, you'll need to develop a plan that is effective to manage your debt. Consider attending a personal financial management course to learn how to manage your debt. Approved debtor education courses can teach you how to become and stay financially secure.<br><br>
    Some of the things you might be able to do to get to a point where you can manage your debt include:<br><br>
         •	Talking to your creditors to negotiate better rates<br>
         •	Consolidating your loans (loan consolidation)<br>
         •	Seeing if there are alternative financing solutions<br>
         •	Filing for bankruptcy<br>
          </p>
    
          <h3>4. Limit Debt</h3>
        <p>Limit the amount of debt that you take on. A rule of thumb is monthly payments on your debts (not including your mortgage) should not exceed 20% of your take-home pay.</p>
          <h3>5. Control Monthly Expenses at Home</h3>
    <p>Cutting down on monthly expenses can save you a great deal of money. Some bills may seem insignificant by themselves; but when you see the cumulative, the cost can be enormous. Consider cutting back on recurring money drains such as:<br><br>
    •	Streaming services (Netflix, Hulu, Prime, Disney+, etc.)<br>
    •	Cable<br>
    •	Excessive energy use<br>
    •	Large cell phone bills<br><br>
        Also, take the time to check your credit card and bank accounts to see if you are paying any unexpected recurring bills.<br>
         </p>
          <h3>6. Identify Ways to Cut Expenses and Save Money</h3> 
    <p>Look for ways to cut expenses that are effective and easy to implement. If you typically eat out or order in, consider other cost-effective ways to eat at home. If you don't go to the gym often, maybe it's time to cancel your membership. These simple cutbacks can help you increase your savings.</p>
          <h3>7. Pay Off Debts in Full</h3>
    <p>Charge only those items that you can pay off in full when you receive your credit card bill. Don't get into the habit of maxing out your credit cards and just paying the minimum payment. This irresponsible habit means you're continually spending more money than you have and you are collecting significantly more debt due to high credit card interest rates.</p>
          <h3>8. Keep Your Mortgage and Rental Payments Reasonable</h3>
    <p>Don't saddle yourself with huge housing costs. Only take on obligations that you can easily afford now. A general rule of thumb is that rental payments should be either one-fourth or one-third of your monthly income. For example, if an individual makes $3,000 a month, a rent price of $1,000 or less will allow him or her to save comfortably.</p>
          <h3>9. Develop Alternatives To Spending Money</h3>
    <p>Make it a hobby to develop alternatives to spending a lot of money. Instead of dining out, go for a walk and have a picnic. Rent books at the library instead of buying them. Try to take advantage of promotions going on in your city. For example, many cities have a day where museums are free or even half off.</p>
          <h3>10. Invest Wisely</h3>
    <p>Make prudent investments. Avoid investments that promise a high return, like penny stocks, junk bonds, and speculative deals. The reason that those investments offer a high return is that they are extremely risky!</p>
          <h3>11. Don't Cosign or Guaranty</h3>
    <p>Don't cosign or guaranty an obligation for someone else. If that person doesn't pay, you will be responsible for repayment.</p>
          <h3>12. Obtain Adequate Home and Auto Insurance </h3>
    <p>Be sure that you have adequate insurance on your home, its contents, and your automobiles. An individual can have major bills if they do not have adequate insurance. For example, if you were involved in a major car accident due to no fault of your own and do not have adequate insurance, you may be responsible for most of the cost of repairs and damages out of pocket.</p>
          <h3>13. Obtain Adequate Health Insurance</h3>
    <p>Be sure that you have adequate health insurance coverage at all times. Health bills can pile up and be in the thousands of dollars. It would be in your best interest to have health insurance to protect yourself from being obligated to pay expensive health bills.</p>
          <h3>14. Monitor Your Income and Expenses Going Forward</h3>
    <p>Monitoring your income can be very effective in making your budget work. Take a look at your bank statements regularly to identify where you are spending. You can also create a spreadsheet to categorize and track your expenses. This will show you what's really costing you and allow you to start making adjustments to your expenses.<br><br>
        If you find yourself in legal trouble for debt or considering bankruptcy, talk to a bankruptcy attorney first to consider your next move.</p>
          
          
          
               <h2 style="font-style: italic;font-size: 40px;">   12 Easy Ways to Cut Your Expenses</h2>
    <br>
               <h3>1.	Start Tracking Your Spending Habits</h3>
    
    <p>The first step to cutting spending is figuring out where the money is going. Tracking spending over 30 or 60 days will probably be an eye-opener. Who knew that much money was going toward your Kindle or Egg McMuffin habit?<br>
    “You may be surprised at how much you’ve spent on certain items, but this gives you a good chance to see just where adjustments are needed going forward,” Barker said.<br>
    The old-fashioned way to track is to write down every expense as you make it. That cumbersome exercise stops a lot of expense-cutters in their track.<br> Fortunately, we live in the 21st century and technology can do our “writing down” for us.<br>
    If you pay for everything with a debit or credit card, check your statements.<br>
    Go through everything you spent money on and determine what you really needed and what were “wants.”<br>
    One way to make things clear is to print out the statement and use different colored highlighters or pens to park different types of spending. Or write them down, under “needs” and “wants” headings.<br>
    Some financial institutions even have a graph or pie chart on debit card accounts with spending categories, showing where your money went.<br><br>
        If you do use cash, be sure to get receipts.<br></p>
               <h3>2.	Get on a Budget</h3>
    
    <p>Creating a budget doesn’t have to be complicated. It’s simply a plan for where your money will go.
    Barker said that “overcomplicating” is the biggest mistake people make when budgeting. Barker said budgeting can even mean separating spending into “needs,” “wants” and “goals,” rather than spelling out ever specific item.
    “That way, you’ll be able to monitor and adjust your overall spending in these categories as needed, making it far more manageable than having a more detailed budget,” she said.<br>
    She said it’s important to allocate money each month toward financial goals. Paying off debt should be a major objective. “Don’t be tempted to take money away from that to spend on other areas of your life,” she said. “Cutting your expenses in order to continue working towards your debt-free goal should be your priority.”<br><br>
    But small goals should also be included – they help measure success, and achieving these milestones can help motivate you.<br><br><br>
    The three major steps for how to make a budget are:<br>
    •	Determine your income.<br>
    •	Determine fixed monthly bills – mortgage or rent, utilities, car payment, insurance, etc.<br>
    •	Determine needs — food, gas, medical expenses, etc.<br><br>
    What’s left over is your “discretionary spending.” Decide an amount out of that you can put in savings for an emergency fund, and also come up with a figure that can go toward paying off credit card debt.<br>
    There are a variety of apps and other resources that can help, and there are a variety of online budget tools and template.<br>
    Once you’re done, it may seem as though there’s very little money left over for anything.<br>
        But now comes the fun part – figuring out how to trim the fat.<br></p>
               <h3>3.	Re-Evaluate Your Subscriptions</h3>
    
    <p>Most people have monthly subscriptions for cable TV or streaming services, internet, cell phones, publications, weight loss programs, you name it. Once you set one up, you likely don’t think about it much, yet the money comes out of your account every month.<br><br>
    Now’s the time to take a close look. Ask yourself:<br>
    •	How much do I use this?<br>
    •	Do I really need this?<br>
    •	Can I live without this?<br>
    When you cancel the subscription, go through your email and unsubscribe to newsletters or regular advertisements that come from that source.
        Don’t pass on unsubscribing to something because they make it hard or it seems like a small expense that’s not worth the trouble to get rid of. Think of cutting expenses as death to debt by a thousand cuts, not one big blow.<br></p>
        <h3>4.	Reduce Electricity Use</h3>
    
    <p>You have to heat or cool your home; you need power for lights and your other appliances. But there are many ways to lower your utility bills.
    Electricity costs account for about 12% of the average household budget.<br>
    Some things you can do to cut those expenses are immediate: Don’t leave the computer running, don’t run the dishwasher without a full load, hang out the laundry instead of running the dryer, turn down the thermostat. Shop around to see if there are utility providers that offer lower rates, particularly for fuel.<br>
    Other steps are almost as easy, but take a trip to the hardware store: Change to energy efficient lightbulbs, install a programmable thermostat. Many electricity providers link to users’ accounts to show how to cut costs.<br>
    Other saving methods involve an upfront expense, but will save money in the long run. Make sure you buy Energy Star appliances, update your water heater. Changing your heating and cooling system can help both your bills and the environment.<br>
    Making major utility changes can be expensive, but check your state government website. Many have programs that help consumers switch to more efficient heating systems. For example, Maine has a program that offers a $1,000 rebate to homeowners with oil heat to switch to a heat pump, and even offers a low-interest loan program to finance the cost.<br>
    Don’t forget about your cable bill and cell service when looking at utilities. Can you get a cheaper plan from another provider or downsize the plan you have?<br>
        Consider cheaper TV alternatives – just be sure you don’t load up on too many streaming subscriptions.<br></p>
        <h3>5.	Lower Your Housing Expenses</h3>
    
    <p>One of your biggest expenses is likely housing – people whose income is below $50,000 a year spend an average of 36.6% or more of your income on housing. This is above the rule of thumb 30% recommended by financial experts. Lenders, when considering mortgage applications, like to see someone spend about 28% of their pre-tax income on housing.
    Reducing housing expenses may seem like a nuclear option, but it is something worth considering and there are ways to downsize that may be easier than you think.<br><br>
    Renters have many options to save money on rent. Some are:<br>
    •	Get a roommate.<br>
    •	Give up a paid parking space.<br>
    •	Offer to do repairs yourself for a break in the rent.<br>
    •	Move to a cheaper apartment, or even a cheaper area of your region, or the country.<br>
    Options for those who own a home include:<br>
    •	Refinancing to get a lower interest rate, and lower your monthly mortgage payment.<br>
    •	Remove private mortgage insurance. If you bought your house with less than 20% down payment, PMI is required. Once you have 20% equity, it’s removed. Even if you haven’t paid your mortgage down that much, check the home values in your area – if they’ve risen, so has the value of your home. If the value is high enough that you have 20% equity, you may ask your lender to cancel your PMI, and they must comply.<br>
    •	Sell your home and consider renting one instead. The advantages of renting a house include lower upfront costs, like taxes, insurance, maintenance and more.<br>
    •	Rent out your home, or a portion of it, as a short-term rental.<br></p>
    
        <h3>6.	Consolidate Your Debt and Lower Interest Rates</h3>
    
    <p>One way to drastically cut expenses is to consolidate debt. If you have credit cards, those monthly payments could be eating up a big portion of your take-home pay. Check out the interest payments on the cards – likely it’s between 16% and 30%.<br>
    Debt consolidation means combining multiple debts into one monthly payment. The end goal is to reduce what you pay in interest and lower the monthly payment and pay the debt off.<br><br>
    Benefits of debt consolidation are:<br>
    •	One monthly payment. No more juggling multiple payments, it’s one and done with a good consolidation plan.<br>
    •	Lower interest rate. What you pay every month is going to reduce what you actually owe, not the constant build-up of interest.<br>
    •	Pay off debt faster. It takes about 20 years to pay off credit card debt if you’re just making the minimum payments. Debt consolidation will eliminate your debt in 3-5 years.<br><br>
    The two most common ways to consolidate debt are through a debt consolidation loan or using a debt management plan.
    Debt Consolidation Loan<br><br>
    One way to consolidate debt is to take out a large loan from a bank or credit union to pay off the smaller debts. This method can be effective, but if you have a less-than-perfect payment history and low credit score, you may not get approved. If you do, the loan may have a high interest rate, which defeats the purpose.<br>
    Debt Management Plan<br><br>
    A debt management plan, from a nonprofit credit counseling agency like InCharge Debt Solutions, may be a good fit for someone looking for help with credit card debt. These plans don’t use credit scores for eligibility. Like a loan, debt is consolidated into one monthly payment. But unlike a loan,  creditors offer lower interest rates to nonprofit credit counseling agencies, who pass them along to you. That translates into a lower monthly payment for you.<br>
        Counselors also help with that tough work of looking at your income and expenses and help you figure out a budget and payment that works for you.<br></p>
               <h3>7.	Reduce Your Insurance Premiums</h3>
    
    <p>Adjustments to home and car insurance are another way to reduce monthly expenses.<br>
    If you pay both, shop around for companies that will bundle them for a cheaper rate.<br>
    You may also be able to lower your rates based on what kind of homeowner or driver you are.<br>
    To save money on car insurance, check out companies that offer  lower rates for a safe driving record, or for those who drive a cheaper car. Cars with enhanced safety features also can get lower rates.<br>
    Being a member of an organization like AAA is beneficial.<br>
    To save on homeowners insurance, check out your policy and see if your company offers reduced rates for making improvements. Installing smoke and carbon monoxide detectors and burglar alarms can mean discounts. So can upgrading electrical or heating systems.
    Also, consider raising your deductible from $500 to $1,000, which can save 25% on your premium.<br>
    Shop around for insurance companies that may offer a better deal. Check out the National Association of Insurance Commissioners (NAIC.org), for tips on picking a good insurer. But also check out whether your insurer offers a discount if you’ve been with them for six years or more.<br><br><br>
    Barker, of LogicalDollar, also said that one of the biggest hidden expenses consumers don’t think about is automatic renewals for things like insurance.
        “Many of us simply pay it and forget about it until next year,” she said. “However, by doing this, you’re losing the chance to either find a better offer from another provider or negotiate a discount with your current one. Next time you receive a renewal notice, do some research into what your provider’s competitors offer. You can then make a decision as to whether you’d like to switch or if you’d first prefer to try to use this information to get your current provider to match the other company’s offer.”</p>
               <h3>8.	Eat at Home</h3>
    
    <p>Preparing and eating meals at home can save a lot of money.<br>
    Weekly meal planning can make it easy. Figure out what you will eat for the week, plan it, then stick to it.<br>
    The internet offers an endless variety of cooking and recipe tips, even for people who don’t consider themselves cooks.<br>
    If you don’t have time to prepare meals during the work week, make something on the weekend – a casserole, chili, a chicken dish – that will provide several meals. Portion it out into daily meal contains and all you have to do is grab and go. For longer-term convenience, make a hardy soup, chili or casserole, portion it into one-meal containers and freeze it, providing quick meals for busy days in the future.<br>
        The investment in half a dozen one-portion containers will pay off fast when you’re not going through the drive-through every night.</p>
               <h3>9.	Shop with a List</h3>
    
    <p>There are a lot of ways to save money at the grocery store, but it all starts with a shopping list. This simple habit can end up cutting food expenses, help with meal planning and, if you stick to the list, cuts down on impulse buying.<br><br>
    It can be as simple or as complicated as you want to make it, and there are even apps that help you make lists and find bargains.
    Some tips are:<br>
    •	Keep a running list during the week, plan your meals and add items to the list before you go.<br>
    •	Group the items on the list in categories (produce, deli, dairy, etc.) or even put them in order of where they are in the store. This will keep you from wandering down the candy or chips aisle, where expensive impulse buys lurk.<br>
    •	Comparison shop between brands and stores, though it’s cheaper to shop one or two stores rather than drive around the area looking for bargains at multiple stores.<br><br>
        Check out whether your grocery store has a rewards program, many of which offer discounts on store-brand items and target coupons to your regular buys. Gone are the days of clipping coupons – most rewards programs have an app, and if you have a smart phone, it’s as easy as scrolling before you go and punching your phone number in when you check out. There is even a list function on many, with an option for adding things you regularly buy.</p>
               <h3>10.	Put a Freeze on Your Credit Cards</h3>
    
    <p>One big obstacle to cutting expenses is credit card debt. It’s easy, when you don’t have the money on hand for something, to use a credit card, but the balances can grow fast, particularly if the interest rate is high.<br>
    If you have credit card debt, freezing your cards is a good way to cut monthly expenses.
    You could literally freeze your cards – some financial experts have suggested putting cards in a container of water and putting them in the freezer. If you want to use it, you have to thaw it out.<br>
    If you want to do it more officially, you can temporarily stop credit cards by going to your issuers website or app and freezing it, which doesn’t allow purchases. The issuer won’t authorize any new charges. Recurring payments you’ve set up will continue to be processed, you still have to make monthly payments and interest will still accrue.<br>
        There’s no penalty, and you can “thaw out” the cards at any time.<br></p>
               <h3>11. Use Cash Only</h3>
    
    <p>Switching to cash-only spending will bring a big dose of reality to your finances.
    Put as many monthly expenses as you can on automatic payment, and then use what’s left for other spending. This requires keeping a strict eye on the budget, but also cuts way down on impulse buying. Want that awesome pair of shoes? Start putting $5 a week away for them. If it’s in your budget.
    As with many other spending and budgeting systems these days, there are apps that can help you manage this, including mint.com, Mnvelopes and more.
    Barker, of LocigalDollar, said a cash-only existence doesn’t happen in a vacuum.
    “You should also look into addressing the underlying reasons for your spending issues,” she said. “Using cash only isn’t really feasible as a strategy forever, given that a lot of day to day expenses do require you to make payment in other ways.”
    She suggests one strategy is to limit your cash-only use to certain expenses, particularly areas where you have to reduce spending, like the grocery budget, or clothes.<br><br>
        “This will also then give you the chance to really keep a close eye on how this money is being used and, ideally, adjust your spending habits going forward,” she said. “That way, even when you’re back to wielding a credit card, you’ll also be able to stick to your budget.” <br></p>
               <h3>12. Pay Off Your Outstanding Debts</h3>
    
    <p>The faster you get rid of debt, the more money you’ll have in your monthly budget.
    As mentioned earlier, to pay off debt, credit card debt must be a major focus. Unlike your car or mortgage payment, it grows and expands and is hard to reduce.<br>
    Part of your budget should include higher-than-minimum payments on your credit card. Keep debt consolidation in mind, particularly credit counseling.
        Adding extra principal payments to your mortgage or car loan will also reduce them faster.<br> <br></p>
    
              
              
               <h2 style="font-style: italic;font-size: 40px;">5 Steps for Tracking Your Monthly Expenses</h2>
    <br>
               <h3>1. Check your account statements</h3>
    
    <p>Pinpoint your money habits by taking inventory of all of your accounts, including your checking account and all credit cards you have. Looking at your accounts will help you identify where you’re spending.<br><br>
        Annamaria Lusardi, the Denit Trust chair of economics and accountancy at the George Washington University School of Business, recommends getting a sense for your monthly cash flow — what’s coming in and what’s going out. <br></p>
    
        <h3>2. Categorize your expenses</h3>
    
    <p>Start grouping your expenses. Some credit cards automatically tag your purchases in categories like department store or automotive. You could find that those impulse buys at Target are costing you a lot. Or maybe you’ll realize you’re paying for recurring subscription services that you could do without.
    Your spending will consist of both fixed expenses and variable expenses. Fixed expenses are less likely to change from month to month. They include mortgage or rent, utilities, insurance and debt payments. You'll have more room to adjust variable expenses like food, clothing and travel.
    Spot your saving opportunities<br><br>
        See your spending breakdown to show your top spending trends and where you can cut back.<br></p>
        <h3>3. Use a budgeting or expense-tracking app</h3>
    
    <p>Budgeting apps like You Need a Budget and Mint are designed for on-the-go money management, letting you allocate a certain amount of spendable income each month depending on what you’re taking in and what you’re paying out. These types of apps will work if you’re willing to log your purchases, put in the time and stick to your budget. (Following these budgeting tips will help you do just that.)
    Depending on what you get out of it, a paid app may be worth the cost. You Need a Budget, for instance, is $84 a year or $11.99 a month (after a 34-day free trial), but it has appealing benefits, like its ability to sync transactions directly from your bank account and its option for live workshops with the company’s support team.<br><br>
        NerdWallet has also identified the best expense tracking apps based on ratings and popularity among users.</p>
    
        <h3>4. Explore other expense trackers</h3>
    
    <p>Not a fan of apps? A spreadsheet is another valuable money-tracking tool. You can find a variety of free budget templates online, and NerdWallet also offers an online budget worksheet.<br><br>
    Or, if you have a more complex financial portfolio, you can buy software. Richard H. Serlin, a lecturer at the University of Arizona, recommends Quicken Premier, which lets you import your bank transactions and monitor your investments.<br><br>
        “This is just a much smarter, more effective, clear and organized way of keeping track of your spending, and pretty much all aspects of budgeting and financial investing, than trying to do it yourself with an Excel table or paper ledger,” he says. Quicken Premier regularly costs $77.99 a year, but Quicken also offers a basic Starter edition for $35.99 a year.<br>
        </p>
    
        <h3>5. Identify room for change</h3>
    
    <p>As you track, be ready to make adjustments. It’s worth your time to keep tabs on your monthly expenses because of what you’ll uncover. “Tracking expenses can be very valuable for finding out what's really costing you, and what is not as bad as you thought,” Serlin says.<br><br>
        He also notes that lowering the “big fixed expenses” in your life, like the cost of housing, vehicles and utilities, can make a significant impact on your budget. If you need help adjusting your major recurring monthly expenses like your mortgage or car loan, check out NerdWallet’s tips for how to build a budget. <br></p>
          </form>    
      </div>
    </body>
   
    {% endblock %}